<div>
  <h4>Today's To-Dos</h4>
  <ul>
    {{#each model as |item|}}
    <li>{{item.date}}</li>
    <li>{{item.description}}</li>
    <li>{{item.energy-needed}}</li>
    <li>{{item.is-completed}}</li>
    <li>{{item.is-crucial}}</li>
    {{/each}}
    <li>Dummy li</li>
  </ul>
  {{new-item createItem='persistItem'}}
</div>
