<div class="lone-item">
<input class="form-check-input" type="checkbox" {{action 'crossOff'}}>
<h4>Item: {{item.description}}</h4>
  {{#if isCompleted}}
  {{else}}
    <div class="item-content">
      <p><strong>Date:</strong> {{item.date}}</p>
      <p><strong>Energy:</strong> {{item.energy_needed}}</p>
      <p class="crucial"><strong>Crucial?</strong> {{item.is_crucial}}</p>
      <button {{action 'deleteItem' item}}>Delete Item</button>
      <button {{action toggleProperty 'isEditing'}}>Edit Item</button>
      {{#if isEditing}}
        {{update-item item=item
          updateItem='updateItem'}}
      {{/if}}
    </div>
  {{/if}}
</div>
