<div class="lone-item container">
  <div class="is-completed">
    <input type="checkbox" {{action 'crossOff'}}>
  </div>
  <div class="item-name col-lg-12">
    <h4>Item: {{item.description}}</h4>
    {{#if isEditing}}
      {{update-item item=item
        updateItem='updateItem'}}
    {{/if}}
  </div>
  {{#if item.is_completed}}
  {{else}}
    <div class="item-content">
      <div class="date">
        <p><strong>Date:</strong> {{item.date}}</p>
      </div>
      <div class="energy-needs">
        <p><strong>Energy:</strong> {{item.energy_needed}}</p>
      </div>
      <div class="crucial">
        <p><strong>Crucial?</strong> {{item.is_crucial}}</p>
      </div>
    </div>
    <div class="buttons">
      <button class="edit-button"{{action toggleProperty 'isEditing'}}>Edit Item</button>
      <button class="delete-button"{{action 'deleteItem' item}}>Delete</button>
    </div>
  {{/if}}
</div>
