<div>
  <form {{action 'updateItem' on='submit'}}>
    <label>Date</label>
    {{input placeholder='YYYY-MM-DD' value=item.date}}
    <label>Description</label>
    {{input placeholder='What do you want to do?' value=item.description}}
    <label>Energy Needed</label>
    {{input placeholder='Low or normal?' value=item.energy_needed}}
    <label>Is It Complete?</label>
    {{input class="form-check-input" type="checkbox" checked=item.is_completed}}
    <label>Is It Crucial?</label>
    {{input placeholder='True or false?' type="checkbox" checked=item.is_crucial}}
    <button type='submit'>Update</button>
  </form>
</div>
