<h3>My To-Dos</h3>

<div class="all-items col-md-6">
    {{#each model as |item|}}
    <h4>Item: {{item.description}}</h4>
    <p><strong>Date:</strong> {{item.date}}</p>
    <p><strong>Energy:</strong> {{item.energy_needed}}</p>
    <p><strong>Completed?</strong> {{item.is_completed}}</p>
    <p class="crucial"><strong>Crucial?</strong> {{item.is_crucial}}</p>
    <button {{action 'deleteItem' item}}>Delete Item</button>
    <button{{action 'showUpdateForm'}}>Edit Item</button>
    {{update-item item=item
      updateItem='updateItem'}}
    {{/each}}
  {{new-item createItem='createItem'}}
</div>
